body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0px !important;
}

.nav-item {
  padding: 20px 20px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  letter-spacing: 1.2px;
  user-select: none;
  transition: all 0.3s ease;
  position: relative;
}

.nav-item:hover {
  color: #95adbe;
}

.nav-item:hover:before {
  width: 100%;
}

.nav-item:before {
  content: "";
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #95adbe;
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.3s ease;
}

.active a {
  color: #95adbe;
}

.menu {
  display: flex;
}

.navbar {
  display: flex;
  padding: 40px 120px;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  /* padding: 20px; */
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.title-container {
  font-size: 22px;
  text-align: center;
  max-width: 50%;
  white-space: nowrap;
}

.text-brand {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
}

.text-brand span {
  color: #ff7a5c;
}

.text-brand small {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
}

.icon-btn {
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: #4d4d4d;
  transition: all 0.2s ease-in-out;
}

.icon-btn:hover {
  background-color: #95adbe;
  border-color: #95adbe;
  color: #ffffff;
}

.icon-container {
  display: flex;
}

.spacing-x-10 {
  margin-left: 5px;
  margin-right: 5px;
}

.search-form {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 40px;
  overflow: hidden;
  /* width: 300px; */
}

.input-search {
  background-color: rgba(0, 0, 0, 0) !important;
  width: calc(100% - 50px);
  padding: 10px 30px;
  border: 0px;
}

.input-search:focus {
  border: 0px !important;
}
.input-search:focus-visible {
  outline: 0px !important;
}

.btn-search {
  border: 0px;
  background-color: transparent;
  width: 60px;
  font-size: 15px;
  cursor: pointer;
  background-color: #95adbe;
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.form-group {
  display: flex !important;
}
