body {
  margin: 0;
  padding: 0;
  background-color: #f1f0f5;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0px !important;
}

.nav-item {
  padding: 20px 20px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  letter-spacing: 1.2px;
  user-select: none;
  transition: all 0.3s ease;
  position: relative;
}

.nav-item:hover {
  color: #95adbe;
}

.nav-item:hover:before {
  width: 100%;
}

.nav-item:before {
  content: "";
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #95adbe;
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.3s ease;
}

.active {
  color: #95adbe;
}

.menu {
  display: flex;
}

.navbar {
  display: flex;
  padding: 40px 120px;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  /* padding: 20px; */
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.title-container {
  font-size: 22px;
  text-align: center;
  max-width: 50%;
  white-space: nowrap;
}

.text-brand {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
}

.text-brand span {
  color: #ff7a5c;
}

.text-brand small {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
}

.icon-btn {
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: #4d4d4d;
  transition: all 0.2s ease-in-out;
}

.icon-btn:hover {
  background-color: #95adbe;
  border-color: #95adbe;
  color: #ffffff;
}

.icon-container {
  display: flex;
}

.spacing-x-10 {
  margin-left: 5px;
  margin-right: 5px;
}

.search-form {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 40px;
  overflow: hidden;
  /* width: 300px; */
}

.input-search {
  background-color: rgba(0, 0, 0, 0) !important;
  width: calc(100% - 50px);
  padding: 10px 30px;
  border: 0px;
}

.input-search:focus {
  border: 0px !important;
}
.input-search:focus-visible {
  outline: 0px !important;
}

.btn-search {
  border: 0px;
  background-color: transparent;
  width: 60px;
  font-size: 15px;
  cursor: pointer;
  background-color: #95adbe;
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.form-group {
  display: flex !important;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.hero-wrap {
  background-image: url(/plubic/assets/images/banner.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  background-position: 50% -101.188px;
  /* background-position: 50% -0%; */
  /* background-attachment: scroll; */
  z-index: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 620px;
  opacity: 0;
  height: 720px;
  /* align-items: center; */
  /* justify-content: center; */
  margin-bottom: 20px;
  padding-top: 120px;
  transition: all 0.7s ease-in;
  transform: translateY(20%);
}

.banner h1 {
  font-size: 60px;
  line-height: 1.1;
  width: 620px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner p {
  /* width: 520px; */
}

.btn-default {
  padding: 15px !important;
  border: 1px solid #95adbe !important;
  background-color: #95adbe;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.btn-white {
  padding: 15px !important;
  border: 1px solid white !important;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.list-container {
  display: flex;
  flex-direction: row;
}

.container-list-item {
  margin: 0px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  /* transform: translateY(10%); */
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

.list-item-icon {
  background-color: #f5f0df;
  padding: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.list-item-title {
  font-weight: bold;
  font-size: 24px;
  /* transform: translateY(-200%); */
  margin-top: 10px;
}

.list-item-description {
  color: gray;
  font-size: 17px;
  /* transform: translateY(-80%); */
  text-align: center;
}

.list-icon {
  position: relative;
}

/* .container-list-item .list-icon::before {
  content: "icon";
  z-index: 99;
  transition: all 0.3s ease;
} */

.container-list-item .list-icon::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ff7a5c;
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  top: -20px;
  left: 30px;
  transition: all 0.3s ease;
}

.container-list-item:hover .list-icon::after {
  content: "";
  z-index: 0;
  background-color: #fff;
  border-radius: 50%;
  left: 20px;
}

.list-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.list-number-title {
  font-size: 50px;
}

.list-number-sub-title {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.container-list-number {
  display: flex;
  justify-content: space-around;
}

.list-number {
  opacity: 0;
  transform: translateY(60%);
}

.number-transition {
  transition: all 1s ease-in-out;
}
